<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>One Night</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/materialize.min.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">One Night</a>
      <ul id="nav-mobile" class="right">
        <li class="active"><a href="/main">Main</a></li>
        <li><a href="/help">How To Play</a></li>
        <li><a href="changelog">Changelog</a></li>
      </ul>
    </div>
  </nav>

  <section id="content">
  </section>
  
  <section id="role-info">
  </section>

  <script src="/assets/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/bundle.js"></script>
</body>
</html>