<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>One Night</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/materialize.min.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/main" class="brand-logo center">One Night</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/main">Main</a></li>
        <li><a href="/help">How To Play</a></li>
        <li class="active"><a href="changelog">Changelog</a></li>
      </ul>
    </div>
  </nav>
  <section id="changelogContent">
    <h1>Changelog</h1>
    <ul class ="collapsible">
      <li class="header">
        <div class="collapsible-header">Version 1.0.1 (9/22/19)</div>
        <div class="collapsible-body">
          <h4>Quality of Life and Cleanup</h4>
          <ul>
            <li class="bullet"><p>Users now receive an informational chat message when joining a game explaining how the chat feature works.</p></li>
            <li class="bullet"><p>Information on every role can now be viewed underneath the game.</p></li>
            <li class="bullet"><p>Removed a reference to an unused page.</p></li>
          </ul>
        </div>
      </li>
      <li class="header">
        <div class="collapsible-header">Version 1.0.0 (6/27/18)</div>
        <div class="collapsible-body">
          <h4>Initial Release</h4>
          <ul>
            <li class="bullet"><p>Base game was created with the following roles: Werewolf, Villager, Mason, Seer, Robber, Insomniac, Revealer, and Tanner.</p></li>
            <li class="bullet"><p>Users are automatically placed in rooms based on the number of players specified.</p></li>
            <li class="bullet"><p>Players can chat using a built in text system.</p></li>
            <li class="bullet"><p>The game functions and handles all role actions accordingly.</p></li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
  <script src="/assets/materialize.min.js"></script>
</body>
</html>