<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>One Night</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/materialize.min.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">One Night</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/main">Main</a></li>
        <li><a href="/help">How To Play</a></li>
        <li class="active"><a href="/premium">Premium</a></li>
      </ul>
    </div>
  </nav>
  
  <section id="content">
    <h1>Premium</h1>
    <div class="premiumDiv">
      <p>Purchase a premium account to help support the site and also get access to special features!</p>
      <ul>
        <li>Creation of private rooms that can only be joined by using the password you set</li>
        <li>Special icon next to your name in chat</li>
      </ul>
      <p class="centered"><button class="btn-large waves-effect waves-light green" onClick={joinLobby}>Purchase Premium ($9.99)</button></p>
    </div>
  </section>
</body>
</html>